.header{
    background-color: #296B70;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    place-items: center;
    overflow: auto;
}

.nav {
    display: grid;
    place-content: center;
    place-items: center;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    gap: 30px;
}


.item {
    padding: 7px 20px;
    box-shadow: 0;
    background-color: aliceblue;
    border-radius: 15px;
    transition: all .2s;
    margin: 0 3%;
    cursor: pointer;
    display: grid;
    place-content: center;
    place-items: center;
}
.item:hover {
    box-shadow: 0px 10px 10px 0 solid black;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-align: center;
}

@media(width < 1000px) {
    .list {
        flex-direction: column;
    }
}

@media(width < 700px) {
    .header {
        flex-direction: column;
    } .list {
        flex-direction: row;
        gap: 10px
    }
}