.home {
    overflow: hidden;
    height: 79vh;
    padding: 0;
}

.title {
    height: 12vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #296B70;
    width: 100%;
    margin: 0;
}
.section {
    display: grid;
    align-items: center;
    justify-items: center;
}
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
    width: 100vw;
    align-items: center;
    justify-items: center;
    height: 67vh;
    width: 60vw;
}

.link {
    background-color: #296B70;
    padding: 100px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    border-radius: 20px;
}