.timetable {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: start;
    place-content: center;
    gap: 20px;
    overflow: hidden;
}

.cols {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}

.periodeSelect {
    width: 100%;
    height: 100px;
    background: #0b300e;
    border-radius: 20px;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    position: relative;
    width: 20vw;
    transform: none;
    box-shadow: none;
    transition: transform .3s, box-shadow .3s;
    z-index: 0;
}

.periodeUnselect {
    width: 100%;
    height: 100px;
    background: #320b0b;
    border-radius: 20px;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    position: relative;
    width: 20vw;
    transform: none;
    box-shadow: none;
    transition: transform .3s, box-shadow .3s;
}

.periodeSelect:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5 5px black 
}

.periodeUnselect:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5 5px black 
}

.selected {
    background-color: orangered;
}

@media (500px < width < 900px) {
    .timetable {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
    .periodeSelect {
        width: 40vw
    }

    .periodeUnselect {
        width: 40vw
    }
}

@media (width < 499px) {
    .timetable {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .periodeSelect {
        width: 80vw
    }
    .periodeUnselect {
        width: 80vw
    }
}

.containerSend {
    display: grid;
    place-content: center;
    place-items: center ;
}