.main {
    position: relative;
    top: 17dvh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    overflow: hidden;
}

.listSection {
    margin: 30px 0;
    display: grid;
    gap: 20px;
    overflow: hidden;
}

@media (width <= 500px) {
    .main {
        grid-template-columns: 1fr;
        padding-top: 20px;
        gap: 30px
    }
}